/build/
/bin/
/CMakeFiles/
/compile_commands.json
CMakeCache.txt


*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.gch
*.pch


*.log
*.tmp
*.swp
*.DS_Store

/libs/SFML/
/libs/TGUI/
/libs/stockfish

.vscode
